html,body
{
	color: #ffffff;
	font-family: AkzidenzGrotesk;
	font-size: 15px;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow-y:auto;
    width: 100%;
}

@font-face {
	font-family: AkzidenzGroteskBold;
	src: url("../Akzidenz-Grotesk-BQ-Bold_2810.ttf");
}

@font-face {
	font-family: AkzidenzGroteskMedium;
	src: url("../Akzidenz-Grotesk-BQ-Medium_2839.ttf");
}

@font-face {
	font-family: AkzidenzGrotesk;
	src: url("../Berthold Akzidenz Grotesk BE Regular.otf");
}

:root {
	--placeholderLight: #ffffff;
	--placeholderDefault: #eaeaea;
	--gradientLeft: #8a3ab9;
	--gradientRight: #bc2a8d;
	--gradientLeft2: #4c68d7;
	--gradientRight2: #8a3ab9;
}

.akzidenz {
	font-family: AkzidenzGrotesk;
}

.app-demo {
	text-align: center;
	padding-bottom: 50px;
    width: 100%;

}

.appstore-icon {
	box-sizing: border-box;
	display: inline-block;
	margin: 50px 50px 0 0;
}

.appstore-icon > img {
	border-radius: 5px;
	width: 45px;
}

.container {
	width: 100%;
	min-height: 100vh;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.center-text {
	text-align: center;
}

.center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.center-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.definition h1 {
	margin-bottom: 0;
}

.description {
	padding: 100px 0 0 100px;
}

.email-input {
	background-color:transparent;
	border:0px solid white; 
	font-weight: bold; 
	text-transform: uppercase;
}

.garamond {
	font-family: 'Cormorant Garamond', serif;
}

.grad {
  background: var(--gradientLeft); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, var(--gradientLeft) , var(--gradientRight)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, var(--gradientLeft), var(--gradientRight)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, var(--gradientLeft), var(--gradientRight)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, var(--gradientLeft) , var(--gradientRight)); /* Standard syntax */
}

.grad2 {
  background: var(--gradientLeft2); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, var(--gradientLeft2) , var(--gradientRight2)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, var(--gradientLeft2), var(--gradientRight2)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, var(--gradientLeft2), var(--gradientRight2)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, var(--gradientLeft2) , var(--gradientRight2)); /* Standard syntax */
}

.grad-vertical {
  background: var(--gradientLeft); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(var(--gradientLeft) , var(--gradientRight)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(var(--gradientLeft), var(--gradientRight)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(var(--gradientLeft), var(--gradientRight)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(var(--gradientLeft) , var(--gradientRight)); /* Standard syntax */
}

.grad2-vertical {
  background: var(--gradientLeft2); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(var(--gradientLeft2) , var(--gradientRight2)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(var(--gradientLeft2), var(--gradientRight2)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(var(--gradientLeft2), var(--gradientRight2)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(var(--gradientLeft2) , var(--gradientRight2)); /* Standard syntax */
}

.feature {
	background-color: #000;
}

.feature-items {
	padding-left: 50px;
	padding-right: 50px;
}

.feature-desc {
	min-height: 100px;
}

.first-icon {
	padding-left: 50px;
}

.feature-item-margin-top {
	margin-top: 50px;
}

.logo-column h1 {
	font-family: AkzidenzGrotesk;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-family: AkzidenzGroteskMedium;
}

.feature-title {
	padding-top: 20px;
    padding-bottom: 50px;
	text-align: center;
	font-weight: bold;
}

.logo {
	font-size: 148px;
	font-family: AkzidenzGrotesk;
}

.logo-column {
	min-width: 500px;
}

.logo-column h1 {
	font-weight: normal;
}

.margin-top {
	margin-top: 15px;
}

.margin-top-redux {
	margin-top: -3px;
}

.padding-horizontal {
	padding-left: 50px;
	padding-right: 50px;
}

.sound-toggle {
	margin: 10px 10px 0 0;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	text-decoration: underline;
	cursor: pointer;
}

.space-background {
	background-image: url(../images/space.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.screenshot {
	background-image: url('../images/iphone7timeline.png');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-background-size: 300px 607px;
    background-size: 300px 607px;
    min-height: 607px;
    margin: auto;
    min-width: 300px;
}

.scroll-button {
	box-sizing: border-box;
	display: inline-block;
	height: 50px;
	margin-top: 25px;
	padding: 50px;
	cursor: pointer;
	position: relative;
	width: 50px;
}

.scroll-button span {
	position: absolute;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	box-sizing: border-box;
}

.ut-skyline {
	position: relative;
}

.ut-skyline > img {
	position: absolute;
	bottom: 0;
}
@-webkit-keyframes sdb {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}


@media (max-width: 768px) { 
	.app-demo {
		padding-bottom: 0;
	}

	.logo {
		font-size: 80px !important;
	}

	.logo img {
		width: 50px !important;
	}

	.tagline {
		width: 250px;
		margin: 15px auto 10px auto;
	}
	
	div.feature-items:first-child {
		margin-top: 0;
	}

	.email-input {
		font-weight: normal
	}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 
 }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }

input {
	opacity: .7;
	text-align: center;
	width: 250px;
}

input:focus {
	outline: none;
	opacity: 1;
}

input::-webkit-input-placeholder {
	color: var(--placeholderDefault) !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
	color: var(--placeholderDefault) !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
	color: var(--placeholderDefault) !important;  
}
 
input:-ms-input-placeholder {  
	color: var(--placeholderDefault) !important;  
}

input:focus::-webkit-input-placeholder {
	color: var(--placeholderLight) !important;
}

input:focus:-moz-placeholder { /* Firefox 18- */
	color: var(--placeholderLight) !important;  
}

input:focus::-moz-placeholder {  /* Firefox 19+ */
	color: var(--placeholderLight) !important;  
}

input:focus:-ms-input-placeholder {  
	color: var(--placeholderLight) !important;  
}
